.demoDiv{
    background: rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   /*  padding-top: 10rem; */
}

.myContainer{
    position: relative; 
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
   /*  border-color: var(--secondary); */
   border-width: 10px;
 /*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14); */
}

.myCard{
   border-radius: 5px;
   height: 20rem;
   width: 25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   z-index: -1;
   cursor: pointer;
   transition: 0.3s;
}

.myCard:hover{
    /* transform: scale(1.1); */
}

.myDetails{
    position: absolute;
/*     border-radius: 10px; */
    bottom: -60px;
    left:0;
    padding: 20px;
    background: linear-gradient(0deg, black, transparent);
    transition: 0.3s ease;
    height: 120px;
}

.myCard:hover .detailsEnabled{
    bottom: 0;
}

.myDetails .myDescText{
  /*   overflow:hidden !important;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; */
  font-size: 14px;
    font-weight: 400;
    /* color: rgb(0 0 0 / 70%); */
    /* margin-bottom: 24px; */
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0px;


    /* font-size: 12px; */
  /*   margin-top: 1em;
    font-size: 12px;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */



/*     Overflow:hidden;
    max-height: 6rem;
    line-height: 2.5rem;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: block; */
}

.myRadio{
    margin:10px;
}