:root{
    --margi: 80%;
}

.forFreeTag{
    /* text-align: center; */
    margin-top: -0.8em;
    /* margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; */
    
    /* padding-left: 1em;
    padding-right: 1em; */
    /* margin-top: -1em;
    margin-right: -1.5em;
    margin-left: 12.5em; */
    /* white-space: nowrap; */
    /* border-radius: 0.2em; */
    
}

#nav-tab{
    margin-bottom: 3em;
}

.navTab{
    color: var(--dark);
    min-width: 8em;
    /* border-right: 0.2em solid!important;
    border-top: 0.2em solid!important;
    border-bottom: 0.2em solid!important;
    border-color: var(--bg-dark) !important;
    border-radius: 0 !important; */
    /* max-width: 10em; */
}

.navTab:hover{
    background-color: var(--secondary) !important;
    color: white !important;
}

.navTab:focus-within::before{
    /* background-color:var(--dark) !important; */
    color: var(--dark) !important;
}

.navTab.active:focus{
    /* background-color:var(--dark) !important; */
    color: white !important;
}

.navTab:focus{
    /* background-color:var(--dark) !important; */
    color: var(--dark) !important;
}

.navTab.active{
    background-color: var(--dark) !important;
    color: white;
}

.forFreeDiv{
    text-align: center;
    background-color: green;
    /* background-color: rgb(0, 128, 124); */
    width: 5.8em;
    height: 2em;
    /* transform: rotate(25deg); */
    margin-left: auto;
    margin-right: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
} */

.wrapper{
  height: 4em;
  width: 100%;
  background-color: var(--bs-dark);
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  place-items: center;
  text-align: center;
  margin-bottom: 4em;
}
.wrapper .navPropia{
  position: relative;
  display: flex;
}
.wrapper .navPropia label{
  flex: 1;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.wrapper .navPropia label a{
  position: relative;
  z-index: -1;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
}

/* .wrapper .navPropia #home:checked ~ label.home a,
.wrapper .navPropia #inbox:checked ~ label.inbox a,
.wrapper .navPropia #contact:checked ~ label.contact a,
.wrapper .navPropia #heart:checked ~ label.heart a,
.wrapper .navPropia #about:checked ~ label.about a{
  color: #fff;
} */

.wrapper .navPropia label a i{
  font-size: 25px;
  margin: 0 7px;
}
.wrapper .navPropia .tab{
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .navPropia #inbox:checked ~ .tab{
  left: 20%;
}
.wrapper .navPropia #contact:checked ~ .tab{
  left: 40%;
}
.wrapper .navPropia #heart:checked ~ .tab{
  left: 60%;
}
.wrapper .navPropia #about:checked ~ .tab{
  
  left: 80%;
}
.wrapper .navPropia input{
  display: none;
}