:root{
    --margi: 80%;
}

.bodyColCourses{
    width: 70% !important;
}

.forFreeTag{
    /* text-align: center; */
    margin-top: -0.8em;
    /* margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; */
    
    /* padding-left: 1em;
    padding-right: 1em; */
    /* margin-top: -1em;
    margin-right: -1.5em;
    margin-left: 12.5em; */
    /* white-space: nowrap; */
    /* border-radius: 0.2em; */
    
}

.forFreeDiv{
    text-align: center;
    background-color: green;
    /* background-color: rgb(0, 128, 124); */
    width: 5.8em;
    height: 2em;
    /* transform: rotate(25deg); */
    margin-left: auto;
    margin-right: 0;
}

#nav-tab{
    margin-bottom: 3em;
}

.navTab{
    color: var(--dark);
    min-width: 8em;
    /* border-right: 0.2em solid!important;
    border-top: 0.2em solid!important;
    border-bottom: 0.2em solid!important;
    border-color: var(--bg-dark) !important;
    border-radius: 0 !important; */
    /* max-width: 10em; */
}

.navTab:hover{
    background-color: var(--secondary) !important;
    color: white !important;
}

.navTab:focus-within::before{
    /* background-color:var(--dark) !important; */
    color: var(--dark) !important;
}

.navTab.active:focus{
    /* background-color:var(--dark) !important; */
    color: white !important;
}

.navTab:focus{
    /* background-color:var(--dark) !important; */
    color: var(--dark) !important;
}

.navTab.active{
    background-color: var(--dark) !important;
    color: white;
}




/* ---- CATEGORIES ACCORDION ---- */

.accordion-button{
    background-color: var(--bs-dark) !important;
    color: white !important;
}

.accordion-button:focus{
    background-color: var(--bs-dark) !important;
    color: white !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
}


/* ----- DROPDOWN SELECT ----- */

#dropdownCategories{
    /* margin-left: 5em; */
    /* margin-top: -30px; */
    margin-top: 0.9vw;
}

#addCourseButton{
    margin-right: 5em;
}

.customTab{
    display: none;
}

.firstTab{
    display: block;
}

.seeCourseButton{
    margin: auto;
}

.imgDiv{
    position: relative;
    text-align: center;
}

.freeDiv{
    position: absolute;
    background-color: var(--msg-green);
    color: white;
    font-size: 1.3em;
    width: 3.5em;
    left: 0em;
    border-radius: 0.1em;
    margin-left: -60px; /* the same margin as the img in general cards .card2 img */
}

/* Foto de <a href="https://unsplash.com/es/@demoya?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Michael DeMoya</a> en <a href="https://unsplash.com/es/fotos/i2GS_MtW9hM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  

.courseImgDiv{
    /* height: 14vw;
    width: 20vw; */
    /* object-fit: cover ;
    object-position:50% ; */
}

.courseImg{
    /* width: 100% !important;
    height: 100% !important; */
    object-fit: contain !important;
    object-position:50% !important;
    background-color: var(--bs-gray-200);
}

/* #coursesTitleDiv{
    margin: auto;
} */

#categoryTitle{
    margin: 0;
    margin-left: 3vw;
    
    font-size: 2.5vw;
    font-weight: bold;
    padding: 0;
    
    /* position: absolute; */
    /* top: 1vw; */
}

@media (max-width:740px) {
    #categoryTitle{
        font-size: x-large;
        margin-top: 10em;
    }

    #dropdownCategories{
        margin-left: -60px;
        margin-bottom: 20px;
    }

    .headerRow{
        margin-top: 0 !important;
    }

    #chatButton{
        display: none;
    }
}
