/* body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}
*/

.myBody{
    margin: 5em;
    margin-top: 1em;
}

@media (max-width: 600px) {
  .myBody {
      margin-left: 0.5em;
      margin-right: 0.5em;
  }

}
.texto{
  height: 65%;
    display: flex;
    align-items: center;
    justify-content: center
}

.boton{
  height: 18%;
  display: flex;
  align-items: flex-end
}
.boton div{
  display: flex;
    align-items: center;
}

.titulo{
  margin-top:1em;
  height: 10%;
  display: flex;
  align-items: flex-start
}

.conta{
  justify-content: space-between;
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
  display: flex;
}

.conta .btnHolder {
/*   justify-content: flex-end;
  display: flex; */
  position: absolute;
  bottom: 0;
}
.myh100{
  height: 100%;
  width: 100%;
}

.medium{
  align-items: center;
  justify-content: center;
  display: flex;
}

.myColW{
  min-width: 552px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
}




/* .col .myContainer{
    box-sizing: border-box; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  background-size: 16px 16px;
 
  
} */


.card2 {
  display: flex;
  align-items: center;
  /* width: 75vw;
  max-width: 650px; */
  /* padding: 50px 30px 50px 20px; */
  padding: 1em 1em 1em 1em;
 /*  background: #ffffff; */
 background-color: var(--dark);
 height: 18vw;
 color: white;
  border-radius: 0.2em;
}

/* codigo para pantallas grandes */
@media (min-width:1200px) {
  .card2{
    height: 16vw;
  }
}


.card2 img {
  max-width: 280px;
 
   width: 20vw;
   /* height: 14vw; */
  /* height: 300px; */ 
  aspect-ratio : 1.3;
    object-fit: cover;
 
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  /* box-shadow: 0 60px 40px rgb(0 0 0 / 10%); */
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.card2 h2 {

  font-size: 22px;
/*   margin-right: 30px; */
}

.card2 h3 {
  font-size: 16px;
  font-weight: 400;
/*   color: rgb(0 0 0 / 90%); */
}

.card2 p {
  font-size: 14px;
  font-weight: 400;
/*   color: rgb(0 0 0 / 70%); */
 /*  margin-bottom: 24px; */

  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0px;
}

.card2 button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  background: var(--green1);
  /* color: #f8f8f8; */
  color: white;
  font-family: inherit;
  padding: 0.5em 2em;
  font-size: 16px;
  border-radius: 1em;
}


@media (max-width:740px) {

  .myColW{
    min-width: 80%;
    height: 34vw;
    margin: 0.5em;
    margin-left: 2.5em;
  }
  .myContainer{
   /*  height: auto; */
  }
  .card2{
   /*  height: auto; */
   height: 30vw;
  }

  .card2 div{
    /* margin-top: 1.5em; */
  }

  .boton{
    margin:0px;
    margin-top: 2em;
  }

  .texto{
    margin:0px;
    margin-bottom: 0.5em;
    margin-top:1em;
    justify-content: center
  }

  .card2 p{
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0px;
  }

  .card2 img {
   
     width: 28vw;
     height: 22vw;
     
   /*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* height: 300px; */ 
  }

  .titulo{
    margin-top:-0.1em;
    
  }
}

/* @media (width <= 740px) {
  .card2 {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card2 h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card2 img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
} */