
.lessonCustomImgContainer {
    position: relative;
    text-align: center;
   
/*     margin-left: -60px;
    margin-right: 30px; */
} 


.lessonTextOverImg{

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -45px;
  font-size: x-large;
/*   background-color: rgba(0, 0, 0, 0.20) */
/*   padding: 4px; */
/*   border-radius: 0.2em; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14); */
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.60);
}

