.loginBody{
    margin-top: 10em;
}

.form-signin-heading{
    margin-bottom: 1em;
    color: var(--bs-dark);
}

.loginButton{
    margin-top: 3em;
    background-color: var(--main-blue);
    border: 0;
    color: white;
}

.loginButton:hover{
    color: white;
}