/* --- cutre: parte del css esta reutilizado de addCourse --- */

#modifyCourseButton{
    font-size: large;
    width: 10em;
    height: 2.5em;
    margin-top: 3em;
}

.toast-header{
    background-color: var(--bs-dark);
    color: white;
}

#successToast{
    position: fixed;
    top: 6%;
    left: 45%;
}

#toastHeaderText{
    font-size: large;
    margin: auto;
}

/* --- VIDEO --- */
/* #videoPreview{
    width: 50em;
    margin-left: 3.5em;
    border-radius: 0.3em;
} */

#videoRow{
    margin-top: 5em;
    display: block !important;
}

/* #videoInput{
    width: 50em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
} */
