#thumbnail{
    height: 20em;
    width: 20em;
    /* background-color: bisque; */
    position: relative;
    border-radius: 0.3em;
    background-color: var(--bs-gray-300);
    
}

#photo{
    position: absolute;
    /* top: 3em;
    left: 20%; */
    /* border-radius: 100%; */
    object-fit: cover;
    object-position:50%;
    width: 100%;
    height: 100%;
    /* border: 6px solid; */
    /* border-color: var(--bs-gray-400); */
    background: transparent;
    border-radius: 0.3em;
    left: 0;
}

.forFreeTag {
    margin-top: 0.6em;
    height: 1em;
    padding: 0 1em;
}

.forFreeDiv{
    position: absolute; /* Sit on top of the page content */
    top: 0;
    right: 0;
    background-color: green; /* Black background with opacity */
    color: white;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 0.3em;
}

.thumbnailCol{
    margin: auto;
    text-align: center;
    
}

.infoCol{
    margin: auto;
}

#nameTitle{
    background-color: var(--bs-dark);
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 0.1em;
    padding: 0.15em;
}

#descDiv{
    margin-top: 2vw;
}

#forWhoText{
    margin-top: 2vw;
}

/* ----- VIDEO ----- */

#videoPreview{
    width: 50vw;
    /* margin-left: 3.5em; */
    border-radius: 0.3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#videoRow{
    margin-top: 5em;
}

.courseImgDiv{

}