.itemRow{
  margin-top: 2em;
  background-color: var(--dark);
  padding: 1em;
  border-radius: 0.5em;
  color: white;
  height: 80%;
}

.rowParent{
  
}

.itemImg{
 width: 100%;
 /* width: 20vw; */
 /* height: 14vw; */
 aspect-ratio : 1.3;
 object-fit: cover;

}

.itemDescContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 95%;
}

.itemName{
  height: 10%;
  margin: 0;
 margin-bottom: 0.5em;
 font-size: large;
}

.itemHeader{
  height: 10%;
  margin: 0;
 margin-bottom: 0.5em;
 font-size: large;
}

.quantityText{
  width: fit-content;
  margin: 0;
}

.itemDescText{
 /*  width: 95%; */
 margin: 0;

 
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.itemMaxLoan{
  height: 15%;
}

.itemButtonsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.itemButtonModify{
  height: 2em;
  width: 6em;
  border: 0;
  background-color: var(--secondary);
  color: white;
  margin-top: 1em;
  margin-right: 1em;
}

.itemButtonDelete{
  height: 2em;
  width: 6em;
  border: 0;
  background-color: var(--redWarning);
  color: white;
  margin-top: 1em;
  margin-right: 1em;
}

.itemImgContainer{
  position: relative;
}

.editImgButton{
  background-color: rgba(124, 124, 124, 0.7);
  font-size: large;
  position: absolute;
  top: 2px;
  
  right: 2px;
  border-radius: 20px;
  border-color: transparent;
}

