.centeredDiv{
    width: 70%;
    margin: auto;
    font-size: 1.2em;
    margin-top: 2em;
}

#createButton{
    margin-top: 3em;
    font-size: 1.2em;
}

.inputLabel{
    margin-top: 2em;
    display: block;
}

.firstLabel{
    margin-top: 2em;
    display: block;
}

#signUpForm{
    margin-bottom: 3em;
}