/* by Jamal Hassouni*/

section{
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 140px 0;
}
.card{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
.card:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-md-4:nth-child(1) .card ,
.col-md-4:nth-child(1) .card .title .fa{
  background: linear-gradient(-45deg,#1b03f4,#64b5f6);

}
.col-md-4:nth-child(2) .card,
.col-md-4:nth-child(2) .card .title .fa{
    background: linear-gradient(-45deg,#24ff72,#9a4eff);

}

.card::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
 z-index: 2;
}
.price,.option{
  position: relative;
  z-index: 2;
}
.price h4 {
margin: 0;
padding: 20px 0 ;
color: #fff;
font-size: 60px;
}
.option ul {
  margin: 0;
  padding: 0;

}
.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card a:link{
    text-decoration: none;
}

.card a:hover{
    /* text-decoration: none; */
    color: white !important;
    background-color: #1f97faa0;
    
}

.transparentText{
    color: #00000000 !important;
}


.ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
}

#onlineRibbon{
    display: none;
}

#onsiteRibbon{
    display: none;
}
  
.ribbon::before,
.ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #ba24f0;
    border-top-color: transparent;
    border-left-color: transparent;
}
  
.ribbon::before{
    top: 0px;
    right: 15px;
}
  
.ribbon::after{
    bottom: 15px;
    left: 0px;
}
  
.ribbon span{
    position: absolute;
    top:30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ba24f0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}