

.imgItem{
    width: 80%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
   
}

.myBody{
    margin: 5em;
    margin-top: 1em;
}

@media (max-width: 600px) {
  .myBody {
      margin-left: 0.5em;
      margin-right: 0.5em;
  }

}
.loanRow{
   
    margin-top: 0px;
    margin-bottom: 2em;
    margin-left: 0px;
    margin-right: 0px;
  
    border-width: 0.2em;
    border-style: solid;
   


    background-color: var(--secondary);
    border-radius: 1em;
    color: white;
}

.separator{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.238);
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;

    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* .row :first-child{
    border-right-width: 0px;
} */

/* Selecciona al primero que este en una lista de iguales de ese tipo */
.separator:first-of-type{
    border-right-width: 0px;
    margin: 0px;
  
}

.separator:last-of-type{
    border-right-width: 0px;
}

