:root{
    --main:#783848;
    --second: #36384C;
    --background: #E9DCCD;
}

#profileInfo{
    margin-top: 2em;
    background-color:#783848b5;
    padding-top: 1em;
    padding-bottom: 2em;
}

.info{
    margin-left: 3em;
    font-size: 1.5em;
}

.inlineElement{
    display: inline;
}

button#openModifyModal{
    border: 0;
    border-radius: 0.5em;
    background-color: #783848b3;
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    margin-left: 0.5em;
}

/* esta con id pq habia confrontaciones con otros elementos como body */
/*#centeredDiv{
    width: 60%;
    margin-top: 3em  !important;
    margin: auto;
    background-color: var(--bs-gray-400);
    border-radius: 1em;
}*/

#backgroundDiv{
  margin: auto;
  width: 70%;
  padding: 3em;
  padding-top: 4em;
  background-color: var(--bs-gray-400);
}

.welcomeMsg{
    text-align: center;
}

#userDescriptionDiv{
    margin-top: 1em;
    text-align: center;
}

#userDescription{
    width: 80%;
    height: 12em;
    resize: none;
    outline: none;
    border-radius: 0.3em;
    border-color: #3f51b550;
}

textarea:focus{
  border: 1px solid #3f51b5 !important;
}

#userDescription::-webkit-scrollbar {
    width: 0.4em;
}

/* Track */
#userDescription::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#userDescription::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--bs-dark); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.profilePanel{
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 2em;
  margin-bottom: 2em;
}

.secondaryText{
  color: var(--bs-secondary);
  font-size: 0.9em;
}

#saveUserInfoButton{
  margin-top: 3em;
  width: 10em;
  background-color: #365bea;
  border: none;
}

.infoRow{
  margin-bottom: 1em;
}

#saveUserDescriptionButton{
  width: 10em;
  background-color: #365bea; /* 0d34fe    365bea               3F51B5 */
  border: none;
  margin-top: 3em;
}

#noCoursesMsg{
  margin-top: 4em;
  margin-bottom: 4em;
}

.courseStatLine{
  margin-bottom: 1.5em;
}

.courseName{
  font-weight: bold;
  color: #365bea;
}

#statsTitle{
  margin-bottom: 1.3em;
}

#bannerDiv{
  height: 8em;
  background-image: linear-gradient(to right, #365bea, #8192f3);
  position: relative;
}

/* #profilePictureDiv{
  position: relative;
  top: 3em;
  left: 20%;
  border-radius: 100%;
  width: 8em;
  height: 8em;
  background-color: #783848;
  border: 6px solid;
  border-color: var(--bs-gray-400);
  margin: 0;
} */

#userPicture{
  position: absolute;
  /* top: 3em;
  left: 20%; */
  border-radius: 100%;
  object-fit: cover;
  object-position:50%;
  width: 9em;
  height: 9em;
  border: 6px solid;
  border-color: var(--bs-gray-400);
  background: transparent;
  background-color: rgb(138, 143, 143);
}

#userPictureDiv{
  position: absolute;
  top: 2em;
  left: 20%;
  /* background-color: #783848; */
}

#profileTitleDiv{
  text-align: center;
  padding-top: 1.5em;
  font-weight:500;
  letter-spacing: 0.1em;
}

#profileTitle{
  position: relative;
  text-align: center;
  color: white;
  font-size: 3em;
  margin-top: 10em;
}

#changeUserPicture{
  position: absolute;
  top: 4em;
  left: 4em;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}


.material-symbols-rounded {
  
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

