<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title >Courses</title>
    <link rel="stylesheet" href="css/courses.css" />
    <!-- <link rel="stylesheet" href="css/calendar.css" /> -->
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
      

        <div class="col bodyCol">

            <div class="accordion" id="categoriesAccordion">

                <th:block th:if="${session.u}">
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <a th:if="${session.u.hasRole('ADMIN')}" class="btn btn-dark my-5" th:href="@{/addCourse}">Añadir curso</a>
                        </div>
                    </div>
                    <div th:each="cat,iter: ${categories}" class="accordion-item">
                        <h2 class="accordion-header" id="headingOne"> 
                            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" th:data-bs-target="'#'+${cat.name}" 
                            aria-expanded="false" aria-controls="${cat.name}" th:text="${cat.name}">
                                Accordion Item Title
                            </button>
                        </h2>
                        <!-- con cat.id no me deja -->
                        <div th:id="${cat.name}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#categoriesAccordion">
                            <div class="accordion-body">
                                <div class="row row-cols1 row-cols-md-4 g-5">
                                    <th:block th:each="course,iter: ${cat.coursesList}" >
                                        <div class="col d-flex">
                                            <div class="card text-white bg-dark " style="width: 18rem;">
                                                <div th:if="${course.isFree}" class="card-img-overlay forFreeDiv">
                                                    <p class="forFreeTag">For free!</p>
                                                </div>
                                                <img class="card-img-top" src="/img/drawing.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title" th:text="${course.name}">Card title</h5>
                                                    <p class="card-text" th:text="${course.description}">Card description</p>
                                                    
                                                </div>
                                                <div class="card-footer"> 
                                                    <a th:href="@{/seeCourse?chosenCourseId={id} (id=${course.id})}" class="btn btn-light">Ver curso</a>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>  
            </div>

            <th:block th:unless="${session.u}">
                <div class="row row-cols1 row-cols-md-4 g-5">
                    <th:block th:each="course,iter: ${coursesList}" th:if="${course.isFree}">
                        <div class="col d-flex">
                            <div class="card text-white bg-dark " style="width: 18rem;">
                                <div class="card-img-overlay forFreeDiv">
                                    <p class="forFreeTag">For free!</p>
                                </div>
                                <img class="card-img-top" src="/img/drawing.jpg" alt="Card image cap">
                                
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${course.name}">Card title</h5>
                                    <p class="card-text" th:text="${course.description}">Card description</p>
                                    
                                </div>
                                <div class="card-footer"> 
                                    <a href="#" class="btn btn-light">Ver curso</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </th:block>
                   
        </div>
    
    
    <script th:src="@{/js/courses.js}" src="js/courses.js"></script>

    
    
</body>
<!-- Pie de pagina -->
<th:block th:replace="fragments/footer.html :: footer" />
</html>