<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title >Arties</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/carrouselCard.css" />
    <link rel="stylesheet" href="../css/generalCards.css" />
</head>
</head>



<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <div id="bannerDiv">
        <img id="banner" src="/img/path1.jpg" alt="banner Arties" class="d-inline-block align-text-top">
        <div id="blackFilter">
            <p id="bannerSentence">Te ayudamos en tu camino</p>
        </div>
    </div>

   <!--  <div class="demoDiv">
        <div class="myContainer">
            <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                <div class="myDetails detailsEnabled">
                    <h2>Lakes</h2>
                    <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet. Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet</p>
                </div>
            </div>
        </div>

    </div> -->

    
   

    <div th>

    </div>
    <th:block th:if="${#lists.size(freeCourses) == 5}">

    <h1 class="text-center titleCourses">Prueba alguno de nuestros cursos gratuitos</h1>

    <div class="demoDiv">
        <div class="carouselDiv">

           
            <input type="radio" name="position" id="position1" class="myRadio form-check-input bg-dark"/>
            <input  type="radio" name="position" id="position2" class="myRadio form-check-input bg-dark"/>
            <input  type="radio" name="position" id="position3" class="myRadio form-check-input bg-dark" checked/>
            <input  type="radio" name="position" id="position4" class="myRadio form-check-input bg-dark"/>
            <input type="radio" name="position" id="position5" class="myRadio form-check-input bg-dark"/>


            <main id="carouselMain">
           <!--      <div class="item">
                    <div class="myContainer">
                        <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                            <div class="myDetails">
                                <h2>Lakes</h2>
                                <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <th:block th:each="course,iter: ${freeCourses}">
                    <div class="item">
                        <a th:href="'/seeCourse?chosenCourseId='+${course.id}">
                            <div class="myContainer">
                                <div class="myCard" th:style="'background: url(img/courses/' + ${course.id}+'.jpg) center center / cover'" style="background: url(img/drawing.jpg) center center / cover">
                                    <div class="myDetails">
                                        <h2 th:text="${course.name}">Lakes</h2>
                                        <p class="myDescText" th:text="${course.description}">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet. Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                    </div>

                </th:block>

                <!-- <div class="item">
                    <div class="myContainer">
                        <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                            <div class="myDetails">
                                <h2>Lakes</h2>
                                <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet. Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="myContainer">
                        <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                            <div class="myDetails detailsEnabled">
                                <h2>Lakes</h2>
                                <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit impsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="myContainer">
                        <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                            <div class="myDetails">
                                <h2>Lakes</h2>
                                <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="myContainer">
                        <div class="myCard" style="background: url(img/drawing.jpg) center center / cover">
                            <div class="myDetails">
                                <h2>Lakes</h2>
                                <p class="myDescText">Lorem impsum dolor sit amet consecteuit adipiscining elit. Nobis, sit</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                
              
            </main>



            

        </div>
        

    </div>

    </th:block>
   
    

 <!--    <div class="bodyCol">

        <a class="btn btn-dark" id="prevCourse">Anterior</a>
        <a class="btn btn-dark" id="nextCourse">Siguiente</a>     
    
    </div> -->

    <div class="row  w-100 itemsSection">
        <div class="col-sm-6 text-center">
            <div class="colDescLoan text-center">
                <h1>Descubre nuestro material para alquilar</h1>
                <h3>y disfruta de nuestras ventajas desde tu casa</h3>

                <h5>• Con tu suscripción online o presencial podrás llevarte a casa el material disponible del gimnasio</h5>
                <h5>• Tan sencillo como seleccionar el objeto que quieras y elegir el día que quieras pasarte a recogerlo</h5>
                <h5>• Si hay disponibilidad, prolonga tu alquiler desde casa sin necesidad de pasar por el gimnasio</h5>
                


                <h2>Disfruta de tu material favorito o prueba cosas nuevas sin ningún gasto extra</h2>

                <a href="/items/listToLoan">
                    <button class="btn customButton">Ver mas</button>
                </a>
               

            </div>
            
        </div>

        <div class="col-sm-6 itemsContainerCol">
            <div class="row justify-content-center itemsSeccionContainer itemsCards">
                <th:block th:each="item,iter: ${items}">
                        <div class="col-5 myColW">
                            <div class="myContainerCard">
                                <div class="card2">
                                    <div class="itemCustomImgContainer">
                                        <img  th:src="@{/img/items/{id}.jpg(id=${item.id})}" />
                            
 
                                    </div>
                                    
                                    <div class="myh100 "> 
                                        <div class="titulo justify-content-center">
                                            <h2 class="text-center" th:text="${item.name}">Zumba</h2>
                                        </div>
                                        <div class="texto">
                                            <div>
                                            
                                            <p th:text="${item.description}">
                                             gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                           </p>
                                            </div>
                                        </div>
            
                                        <div th:if="${session.u}" class="boton justify-content-center">
                                            <div class="ampliarContainer">
                                          
                                            </div>
                                            
                                            
                                        </div>
                                           
                                        
            
                                            
            
            
                                        
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
        
                
        
            </div>

        </div>
        
    </div>

    <div class="lessonsSection">
        <h1 class="text-center">Explora las clases que ofrecemos</h1>
        

        <div class="row justify-content-center noMarginRight">
           
            <th:block th:each="lesson,iter: ${lessons}">
                <div class="col-5 myColW">
                    <div class="myContainerCard">
                        <div class="card2">
                            <div class="lessonCustomImgContainer">
                                <img  th:src="@{/img/lessons/{id}.jpg(id=${lesson.id})}" />
                    
                              
                            </div>
                            
                            <div class="myh100 "> 
                                <div class="titulo justify-content-center">
                                    <h2 class="text-center" th:text="${lesson.name}">Zumba</h2>
                                </div>
                                <div class="texto">
                                    <div>
                                    
                                    <p th:text="${lesson.description}">
                                     gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                   </p>
                                    </div>
                                </div>
    
                                <div th:if="${session.u}" class="boton justify-content-center">
                                    <div class="ampliarContainer">
                                     
                                   
    
                                    </div>
                                    
                            
                                    
                                </div>
                                   
                                
    
                                    
    
    
                                
    
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            

        </div>


    </div>

    <div class="row lessonExtraContainer noMarginRight">

        
        <div class="col-sm-7">
            <h2 class="infoLessonTitle">Aprovecha las ventajas de nuestro sistema de reservas</h2>
           <div class="lessonInfoContainer">
            <div class="removeSkew">
                <h4>• Paga solo por la clase a la que quieras ir</h4>
                <h4>• Con tu suscripcion presencial podras ir a todas sin pagar nada más</h4>
                <h4>• Usa nuestro sistema de reservas y no te quedes nunca sin tu plaza</h4>
                <h4>• Prueba todas las clases que quieras y descubre tus favoritas</h4>

                <div class="text-center">
                    <a href="/lessons/lessonsToBook">
                        <h4 class="buttonShowLessons">Ver más clases</h4>
                    </a>
                    
                </div>

                
               
            </div>
              
           </div>
           
        </div>

        <div class="col">
           
            <div class="col h-100 row justify-content-center">
                <div class="col extraInfoLesson2">
                    <h2 class="text-center">Consigue alguna de nuestras suscripciones y consigue estas y más ventajas</h2>

                    <a href="/subscriptions">
                        <button class="btn customButton">Ver Suscripciones</button>
                    </a>
                    
                </div>
               
            </div>
           

        </div>

    </div>
   
   



    

    <script th:src="@{/js/index.js}" src="js/index.js"></script>
    <!-- Pie de pagina -->
    
</body>
<th:block th:replace="fragments/footer.html :: footer" />
</html>