<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Items</title>
  <!--   <link rel="stylesheet" href="css/courses.css" /> -->
  <link rel="stylesheet" href="../css/custom.css" />
  <link rel="stylesheet" href="../css/generalCards.css" />
  <link rel="stylesheet" href="../css/lessonsToBook.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>


    <!-- <div class="row" style="background-color: aqua;">
        <div class="col col-md-6" style="background-color: beige;"><h1>hola</h1></div>
        <div class="col col-md-2" style="background-color: rgb(28, 118, 40);"><h1>hola</h1></div>
    </div> -->

    <!-- <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/drawing.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->

    <div class="mainContainer">
        
        <div class="row justify-content-center">
           
            <th:block th:each="lesson,iter: ${lessonsToBook}">
                <div class="col-5 myColW">
                    <div class="myContainer">
                        <div class="card2">
                            <div class="lessonCustomImgContainer">
                                <img  th:src="@{/img/backgroundLessons.png}" src="/img/backgroundLessons.png" />
                    
                                <div class="lessonTextOverImg" th:text="${lesson.name}">clase super especial</div>
                            </div>
                            
                            <div class="myh100 "> <!-- align-items-center justify-content-center -->
                                <div class="titulo justify-content-center">
                                    <h2 class="text-center" th:text="${lesson.name}">Zumba</h2>
                                </div>
                                <div class="texto">
                                    <div>
                                    
                                    <p th:text="${lesson.description}">
                                     gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                   </p>
                                    </div>
                                </div>
    
                                <div th:if="${session.u}" class="boton justify-content-center">
                                    <div class="ampliarContainer">
                                        <a  th:href="@{/items/loanItem}">
                                            <button class="btn customButton">Reservar</button>
                                        </a>
                                    <!--     <span tabindex="0" class="infoIcon" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="48 Horas antes del fin de la reserva podras ampliarla desde aqui">
                                            <p>i</p>
                                        </span>
     -->
                                    </div>
                                    
                                    <!-- <p>48 Horas antes del fin de la reserva podras ampliarla desde aqui</p> -->
                                    
                                </div>
                                   
                                
    
                                    
    
    
                                
    
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            

        </div>
    </div>




    
    

    <!-- Pie de pagina -->
    <th:block th:replace="fragments/footer.html :: footer" />
    
</body>
</html>