<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title >Items</title>
     <link rel="stylesheet" href="../css/loanItem.css" /> <!-- ../porque viene desde la ruta items/lo_que_sea. Se debe quitar ese items-->
     <link rel="stylesheet" href="../css/custom.css" />
     <link rel="stylesheet" href="../css/calendar.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    
    <!-- <div class="row" style="background-color: aqua;">
        <div class="col col-md-6" style="background-color: beige;"><h1>hola</h1></div>
        <div class="col col-md-2" style="background-color: rgb(28, 118, 40);"><h1>hola</h1></div>
    </div> -->

    <!-- <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/drawing.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->

        <!-- <div class="col bodyCol"> -->
            <input type="hidden" id="itemId" th:value="${item.id}"/>

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
            
            <div class="myBody">

                

                <div class="row"><!--Row de la toda la info, que contiene las dos cols-->
                    <div class="col-md-5"><!--Primera col con la card-->
                        <div class="card text-white bg-dark myCard">
                                <img class="card-img-top" src="/img/drawing.jpg" alt="Card image cap">
                                
                                <div class="card-body hVSeparator">
                                    <div class="text-center">
                                        <h5 class="card-title " th:text="${item.name}">Card title</h5>
                                    </div>
                                    <div class="row hSeparator">
                                        <div th:text="${item.description}">Descripcion dle item</div>
                                    </div>
                                    <div class="row ">
                                        <div class="col cardText">
                                            <div>Maximo de unidades que se pueden alquilar a la vez</div>
                                        </div>
                                        <div class="col-2 cardText">
                                            <div th:text="${item.maxLoan}">2</div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                    </div>

                    <div class="col"><!--Segunda col con el formulario si no tenias el item alquilado-->


                        <th:block th:if="${hasItem}">

                            <th:block th:if="${canRenovate}==-2">
                                <div class="infoMsg">
                                    <div class="text-center">
                                        <p>Ya tienes este objeto alquilado.</p>
                                        
                                        
                                        
                                    </div>
                                    
                                    <p style="color: red; margin-top: 1em;">⚠ La fecha de devolucion se ha pasado. Debes devolverlo cuanto antes</p>
                                </div>
                            </th:block>

                            <th:block th:if="${canRenovate}==-1">
                                <div class="infoMsg">
                                    <div class="text-center">
                                        <p> Ya tienes este item alquilado.<br>Podrás ampliar la reserva desde esta página en las 48h anteriores al fin del alquiler.</p>
                                    </div>
                                </div>
                            </th:block>

                            <th:block th:if="${canRenovate}==0">
                                <div class="infoMsg">
                                    <div class="text-center">
                                        <p>
                                        No hay unidades suficientes de este objeto disponibles para ampliar la reserva.<br>Tras hacer la devolucion del objeto podras volver a alquilarlo para otra fecha.
    
                                        </p>
                                       
                                    </div>
                                </div>
                                
                            </th:block>

                            <th:block th:if="${canRenovate}==1">
                                <div class="infoMsg">
                                    <div class="text-center" >
                                       <p th:text="'Tu alquiler acaba el ' + ${endLoan}"></p>
                                       <br>
                                       <p th:text="'Debes devolverlo antes de dicha fecha o puedes ampliar tu alquiler hasta el dia ' + ${nextEnd}"></p>
                                        <div class="col"> <!--justify-content-end -->
                                            <button class="greenButton" style="margin-top: 1em;" type="button" id ="buttonRenovateLoan">Ampliar alquiler</button>
                                        </div>
                                    </div>

                                </div>
                               
                            </th:block>
                            
                            

                        </th:block>

                        <th:block th:unless="${hasItem}">
                            <div class="row">
                                <div class="col text-center">
                                    <div id="calendar"></div>
                                    
                                    <div class="myForm text-center justify-content-center" role="form" id="myForm"> 
                                        <div class="row justify-content-center">
                                            <div class="col" id="availableQuantity" th:text="'Cantidad disponible del item el dia seleccionado: '  + ${availableQuantity}">
                                            
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="typeNumber">Cantidad del item que quieres alquilar</label>
                                                <input type="number" id="addQuantityItem" name="itemQuantity" th:max="${item.maxLoan}" min="0" value="0" class="form-control" required/>
                                            </div>
                                            <div class="col"> <!--justify-content-end -->
                                                <button type="button" id ="buttonMakeLoan" class="btn btn-primary">Alquilar</button>
                                            </div>
                                        </div>
                                        
                                      
                                    </div>
                                   
                                    
                                   <!--  <form class="myForm" role="form" id="myForm"> 
                                        <label for="addItemName" class="form-label">Fecha</label>
                                        <input type="date" class="form-control" name="itemName" id="addItemName" value="" required> 
                        
                                        <label class="form-label" for="typeNumber">Cantidad del item</label>
                                        <input type="number" id="addQuantityItem" name="itemQuantity"  class="form-control" required/>
                                        <input type="hidden" id="itemId" th:value="${item.id}"/>
                                    
                                    
                                        
                                        <button type="button" id ="botonForm" class="btn btn-primary">Confirmar</button>
                                    
                                    </form> -->
                                </div>
                        
        
                              </div>

                        </th:block>

                    </div>
                </div>
            </div>

            


<!--

            <div class="myBody">
                <div class="row">
                    <div class="col">
                        <div class="card myCard">
                            <img class="card-img-top imgItem" src="/img/drawing.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="text-center">
                                  <h5 class="card-title">Believing is seeing</h5>
                                </div>
                            </div>
                            <div class="row align-items-stretch justify-content-center hSeparator">
                                <div>Descripcion dle item</div>
                            </div>
                            <div class="row align-items-stretch justify-content-start">
                                <div class="col cardText">
                                    <div>Maximo de unidades que se pueden alquilar a la vez</div>
                                </div>
                                <div class="col-2 text-center cardText">
                                    <div>2</div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="col">
                        

                    </div>
                </div>

            </div>


            <section style="background-color: #eee;">
                <div class="container py-5">
                  <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                      <div class="card text-black">
                        <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/3.webp"
                          class="card-img-top" alt="Apple Computer" />
                        <div class="card-body">
                          <div class="text-center">
                            <h5 class="card-title">Believing is seeing</h5>
                            <p class="text-muted mb-4">Apple pro display XDR</p>
                          </div>
                          <div>
                            <div class="d-flex justify-content-between">
                              <span>Pro Display XDR</span><span>$5,999</span>
                            </div>
                            <div class="d-flex justify-content-between">
                              <span>Pro stand</span><span>$999</span>
                            </div>
                            <div class="d-flex justify-content-between">
                              <span>Vesa Mount Adapter</span><span>$199</span>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between total font-weight-bold mt-4">
                            <span>Total</span><span>$7,197.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            -->
<!--            <div class="myBody">
                <div class="row align-items-stretch justify-content-center loanRow">

                    <div class="col-sm-4 text-center separator">
                        <img class="imgItem" src="/img/drawing.jpg" alt="Card image cap">
                    </div>

                    
                    <div class="col-sm-2 text-center separator">
                        
                        <h4 class="text-center" th:text="${item.name}">Nombre item</h4>
                    </div>

                    <div class="col-sm-2 text-center separator">
                        
                        <h4 class="text-center" th:text="${item.description}">Desc item</h4>
                    </div>

                    <div class="col-sm-3 text-center separator">
                        <div>
                            <h4 class="text-center" >Maximo de unidades que se pueden alquilar a la vez</h4>
                            <h4 class="text-center" th:text="${item.maxLoan}">Desc item</h4>

                        </div>
                        
                    </div>

                </div>

                <th:block th:if="${hasItem}">
                    <div class="row justify-content-center">
                        <div class="col-2 text-center">
                            Ya tienes este item alquilado.
                            Podras ampliar la reserva en las 48h anteriores al fin del alquiler
                        </div>
                    </div>

                </th:block>
               

                <th:block th:unless="${hasItem}">
                    <div class="row">
                        <div class="col text-center">
                            <form class="myForm" role="form" id="myForm">
                                <label for="addItemName" class="form-label">Fecha</label>
                                <input type="date" class="form-control" name="itemName" id="addItemName" value="" required> 
                
                                <label class="form-label" for="typeNumber">Cantidad del item</label>
                                <input type="number" id="addQuantityItem" name="itemQuantity"  class="form-control" required/>
                
                              
                               
                                
                                  <button type="button" id ="botonForm" class="btn btn-primary">Confirmar</button>
                               
                              </form>
                        </div>
                        
        
                    </div>

                </th:block>
                





            </div>
-->
            
            
           
           
           
                

        
        <!-- </div> -->

        <!-- Modal -->
<!--   <div class="modal fade" id="modalAddItem" tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalAddItemLabel">Añadir Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form" id="myForm">
                    <label for="addItemName" class="form-label">Nombre del item</label>
                    <input type="text" class="form-control" name="itemName" id="addItemName" value="" required> 

                    <label class="form-label" for="typeNumber">Cantidad del item</label>
                    <input type="number" id="addQuantityItem" name="itemQuantity"  class="form-control" required/>
   
                    <label for="addItemDesc" class="form-label">Descripcion del item</label>
                    <textarea class="form-control" id="addItemDesc" name="itemDesc" rows="4" cols="60" required></textarea>
                    
                    <label for="fPlato" class="form-label">Imagen del plato</label>
                    <img id="imgNuePlato" alt="Imagen nuevo Plato" class="img-thumbnail mw-100 miClase">
                    <input type="file" id="fPlato" accept="image/jpeg,image/png" required>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" id ="botonForm" class="btn btn-primary">Confirmar</button>
                    </div>
                  </form>
        </div>
        </div>
    </div>
    </div>
-->   
    

    <!-- Pie de pagina -->
    <th:block th:replace="fragments/footer.html :: footer" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

    <th:block th:unless="${hasItem}">
        <script th:src="@{/js/calendar.js}" src="js/calendar.js"></script>
    <script th:src="@{/js/calendarExtra.js}" src="js/calendarExtra.js"></script>

    </th:block>
    
      <script th:src="@{/js/loanItem.js}" src="js/loanItem.js" ></script>

    
</body>
</html>