<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <!-- <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" type="text/css" /> -->
    <link rel="stylesheet" href="css/paymentPage.css" type="text/css" />
    <title>Pago</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="mainContainer">
        <div class="col col-md-6">
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="Titular de la tarjeta" id='cardholder' required />
                <label for="cardholder" class="form__label">Titular de la tarjeta</label>
            </div>
        </div>
        
        <div class="col col-md-6">
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="Número de tarjeta" id='cardNumber' required />
                <label for="cardNumber" class="form__label">Número de tarjeta</label>
            </div>
        </div>
        

        <div class="row">
            <div class="col cvcCol">
                <div class="form__group field cvcDesktop">
                    <input type="input" class="form__field" placeholder="Código de seguridad" id='securityCode' required />
                    <label for="securityCode" class="form__label">Código de seguridad</label>
                </div>
                <div class="form__group field cvcMobile">
                    <input type="input" class="form__field" placeholder="CVC" id='securityCode' required />
                    <label for="securityCode" class="form__label">CVC</label>
                </div>
            </div>

            <div class="col">
                <div class="form__group field expirationDate">
                    <input type="date" class="form__field" placeholder="Fecha de caducidad" id='expirationDate' required />
                    <label for="expirationDate" class="form__label">Fecha de caducidad</label>
                </div>
            </div>
        </div>

        <div class="col col-md-6">
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="Dirección" id='address' required />
                <label for="address" class="form__label">Dirección</label>
            </div>
        </div>

        <div class="text-center">
            <a class="btn customButton" id="endPayment" th:href="@{/subscriptions}">Finalizar pago</a>
        </div>
       

    </div>

</body>

<th:block th:replace="fragments/footer.html :: footer" />
</html>