<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <!-- <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="css/calendar.css" /> -->
    <link rel="stylesheet" href="css/settings.css" />
    <link rel="stylesheet" href="css/settingsItems.css" />
    <link rel="stylesheet" href="css/settingsLoans.css" />
    <link rel="stylesheet" href="css/settingsLessons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>Configuracion</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="col bodyCol">

      <!-- https://www.codingnepalweb.com/elastic-active-tab-animation-html-css/ -->
      <div class="wrapper">
        <div class="nav customNav" role="tablist" > <!-- nav-tabs -->
            <input type="radio" name="tab" id="staff" onclick="manageTabs(event)" checked>
            <input type="radio" name="tab" id="courses" onclick="manageTabs(event)">
            <input type="radio" name="tab" id="lessons" onclick="manageTabs(event)">
            <input type="radio" name="tab" id="items" onclick="manageTabs(event)">
            <input type="radio" name="tab" id="subscriptions" onclick="manageTabs(event)">
            <input type="radio" name="tab" id="rental" onclick="manageTabs(event)">
            <label for="staff" class="staff"><a href="#">Empleados</a></label>
            <label for="courses" class="courses"><a href="#">Cursos</a></label>
            <label for="lessons" class="lessons"><a href="#">Clases</a></label>
            <label for="items" class="items"><a href="#">Material</a></label>
            <label for="subscriptions" class="subscriptions" ><a href="#">Suscripciones</a></label>
            <label for="rental" class="rental" ><a href="#">Alquiler</a></label>
            <div class="tab"></div>
        </div>
      </div>
      
      <div id="staffPanel" class="customTab firstTab">
        <div class="col staffListCol">
            <div clas="row">
              <div class="col d-flex justify-content-end">
                <!-- <button class="btn btn-primary openStaffModalButton">Añadir empleado</button> -->
                <button type="button" class="btn customButton openStaffModalButton" data-bs-toggle="modal" data-bs-target="#addStaffModal">
                  Añadir empleado
                </button> 
              </div>
            </div>
            <div th:each="emp,iter: ${employeesList}" id="staffDivList">
                <div class="row staffDiv"  th:data-id="${emp.id}">
                  <div class="col d-flex justify-content-start">
                    <p th:text="${emp.firstName} + ' ' + ${emp.lastName}" class="staffName" th:id="${emp.id}+'Names'">staff username</p>
                  </div>
                  
                  <div class="col d-flex justify-content-end">
                    <button class="btn btn-secondary modifyStaffButton button_slide slide_left" th:value="${emp.id}" data-bs-toggle="modal" data-bs-target="#modifyStaffModal">Modificar</button>
                    <button class="btn btn-danger deleteStaffButton slide">Eliminar</button>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <div id="coursesPanel" class="customTab">

        <div class="row">
          <div class="col col-md-4 offset-2 text-center">
            <div class="col dropdown">
              <button class="btn customButton dropdown-toggle" type="button" id="dropdownCategories" data-bs-toggle="dropdown" aria-expanded="false">
                  <span id="dropdownCategoriesText"> Todos los cursos </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownCategories">
                  <button class="dropdown-item" type="button" onclick="manageCoursesTabs(event)" id="allCourses">Todos los cursos</button>
                  <button class="dropdown-item" type="button" 
                      th:each="cat,iter: ${categories}" onclick="manageCoursesTabs(event)" th:id="${cat.id}" th:text="${cat.name}">cat name
                  </button>
              </ul>
            </div>
          </div>

          <div class="col col-md-4 text-center">
            <a class="btn customButton" id="addCourseButton" th:href="@{/addCourse}">Añadir curso</a>
          </div>
        </div>
        

        <div th:id="allCoursesPanel" class="firstTab coursesTab">
          <div class="row justify-content-center">
            <th:block th:each="course,iter: ${coursesList}">
              <div  th:class="${course.id}+ ' row courseRow'">
                <div class="col col-md-7">
                  <p th:text="${course.name}" class="courseName"></p>
                </div>

                <div class="col">
                  <a class="btn customButton" th:href="@{/seeCourse?chosenCourseId={id} (id=${course.id})}">Ver curso</a>
                </div>
                <div class="col">
                  <a class="btn btn-secondary" th:href="@{/modifyCourse?courseId={id} (id=${course.id})}">Modificar</a>
                </div>
                <div class="col">
                  <button class="btn btn-danger"  onclick="deleteCourse(event)" th:value="${course.id}">Eliminar</button>
                </div>
              </div>
            </th:block>
          </div>
        </div>

        <!-- --- create dynamic tab panels --- -->
        
        <th:block th:each="cat,iter: ${categories}">
          <div th:id="${cat.id} + 'Panel'" class="coursesTab">
            <div class="row justify-content-center">
              <th:block th:each="course,iter: ${cat.coursesList}">
                <div th:class="${course.id}+ ' row courseRow'">
                    <div class="col col-md-7">
                      <p th:text="${course.name}" class="courseName"></p>
                    </div>
  
                    <div class="col">
                      <a class="btn customButton" th:href="@{/seeCourse?chosenCourseId={id} (id=${course.id})}">Ver curso</a>
                    </div>
                    <div class="col">
                      <a class="btn btn-secondary" th:href="@{/modifyCourse?courseId={id} (id=${course.id})}">Modificar</a>
                    </div>
                    <div class="col">
                      <button class="btn btn-danger" onclick="deleteCourse(event)" th:value="${course.id}">Eliminar</button>
                    </div>
                      
                  </div>
              </th:block>
            </div>
          </div>
        </th:block>
        
        

      </div>

      <div id="lessonsPanel" class="customTab">
        <div class="row">
          <div class="col d-flex justify-content-end">
           
             <button type="button" class="btn customButton" data-bs-toggle="modal" data-bs-target="#modalAddLesson">
              Añadir Clase
            </button> 
          </div>
        </div>



      </div>

      <div id="itemsPanel" class="customTab">

        <div class="row">
          <div class="col d-flex justify-content-end">
           
             <button type="button" class="btn customButton openStaffModalButton" data-bs-toggle="modal" data-bs-target="#modalAddItem">
              Añadir Material
            </button> 
          </div>

        </div>

        <div id="itemsContainer">
          <th:block th:each="item,iter: ${items}">
  
          <div class="row itemRow">

            <div class="col-3">
              <div class="itemImgContainer">
                 
                <span>
                  <img th:src="@{/img/items/{id}.jpg(id=${item.id})}"th:id="'itemImg'+${item.id}" class="itemImg" src="/img/drawing.jpg" />
                  <button th:value="${item.id}" data-bs-toggle="modal" data-bs-target="#modalModifyItemImg" class="editImgButton">✏️</button>
                </span>
                
              </div>
              
            </div>

            <div class="col">
          
             <div class="row itemHeader">
              <div class="col-4">
                <p th:id="'itemName'+${item.id}" class="" th:text="${item.name}">Nombre del objeto</p>
              </div>
              <div class="col-4 offset-4">
                <p th:id="'itemQuantityText'+${item.id}" class="" th:text="'Unidades: ' + ${item.quantity}">Unidades</p>
                <input type="hidden" th:id="'itemQuantity'+${item.id}" th:value="${item.quantity}">
              </div>
             </div>
             
             <div class="itemDescContainer">
                <p th:id="'itemDesc'+${item.id}" class="itemDescText" th:text="${item.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <p th:id="'itemMaxLoanText'+${item.id}" th:text="${'Cantidad maxima que un usuario puede alquilar a la vez: '+item.maxLoan}" class="itemMaxLoan">Cantidad maxima que un usuario puede alquilar a la vez: 5</p>
              <input type="hidden" th:id="'itemMaxLoan'+${item.id}" th:value="${item.maxLoan}">
            </div>

            <div class="col-1">
              <div class="itemButtonsContainer">
                <button class="btn itemButtonModify" th:value="${item.id}" data-bs-toggle="modal" data-bs-target="#modalModifyItem">Modificar</button>
                <button th:value="${item.id}" class="btn itemButtonDelete deleteItem">Eliminar</button>
              </div>        
            </div>

          </div>
  
        </th:block>
          
        </div>

      </div>

      <div id="subscriptionsPanel" class="customTab">

        <div class="row text-center">
          <div class="col col-md-6"><h3>Suscripción online</h3></div>
          <div class="col col-md-4 "><h3>Suscripción presencial</h3></div>
        </div>

        <div class="row">
          <div class="col col-md-5 offset-1">
            <div class="row">
              <div class="col col-md-9">
                <form id="onlinePriceForm">
                  <div class="form__group field">
                    <input type="number" min="0" step="0.01" class="form__field" placeholder="'Precio online'+ ${onlinePrice}+'€'" id='onlinePrice' onchange="checkPriceValidity(event)" required />
                    <label for="onlinePrice" class="form__label" th:text="'Precio online: ' + ${onlinePrice}+'€'"  id="onlinePriceLabel">Precio suscripción online</label>
                  </div>
                </form>
              </div>

              <div class="col col-md-2">
                <button type="submit" class="btn customButton material-symbols-rounded confirmPriceButton" onclick="changeOnlinePrice()">done</button>
              </div>
            </div>
            
          </div>

          <div class="col col-md-5">
            <div class="row">
              <div class="col col-md-9">
                <form id="onsitePriceForm">
                  <div class="form__group field">
                    <input type="number" min="0" step="0.01" class="form__field" th:placeholder="'Precio presencial'+ ${onsitePrice}+'€'" id='onsitePrice' onchange="checkPriceValidity(event)" required />
                    <label for="onsitePrice" class="form__label" th:text="'Precio presencial: ' + ${onsitePrice}+'€'" id="onsitePriceLabel">Precio suscripción presencial</label>
                  </div>
                </form>
              </div>

              <div class="col col-md-2">
                <button class="btn customButton material-symbols-rounded confirmPriceButton" onclick="changeOnsitePrice()">done</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 offset-1 ">
            <th:block th:each="phrase,iter: ${onlinePhrases}">
              <div class="row phraseDiv">
                <div class="col col-md-9 phraseCol">
                  <p th:text="${phrase}" class="phrase">asd</p>
                </div>
                <div class="col col-md-2 deleteCol">
                  <button class="btn btn-danger material-symbols-rounded delPhraseButton delOnline" th:value="${iter.index}" onclick="deletePhraseOnline(event)">delete</button>
                </div>
              </div>
            </th:block>

            <div id="divToAppendOnlinePhrases"></div>

            <div class="row newPhraseDiv">
              <div class="col col-md-9">
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Nueva frase" id='newOnlinePhrase' required />
                  <label for="newOnlinePhrase" class="form__label">Nueva frase</label>
                </div>
              </div>
              
              <div class="col col-md-2" >
                <button class="btn customButton material-symbols-rounded addPhraseButton" id="addOnlinePhraseButton" onclick="addOnlinePhrase()">add</button>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <th:block th:each="phrase,iter: ${onsitePhrases}">
              <div class="row phraseDiv">
                <div class="col col-md-9 phraseCol">
                  <p th:text="${phrase}" class="phrase">asd</p>
                </div>
                <div class="col col-md-2 deleteCol">
                  <button class="btn btn-danger material-symbols-rounded delPhraseButton delOnsite" th:value="${iter.index}" onclick="deletePhraseOnsite(event)">delete</button>
                </div>
              </div>
            </th:block>

            <div id="divToAppendOnsitePhrases"></div>

            <div class="row newPhraseDiv">
              <div class="col col-md-9">
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Nueva frase" id='newOnsitePhrase' required />
                  <label for="newOnsitePhrase" class="form__label">Nueva frase</label>
                </div>
              </div>
              
              <div class="col col-md-2" >
                <button class="btn customButton material-symbols-rounded addPhraseButton" id="addOnsitePhraseButton" onclick="addOnsitePhrase()">add</button>
              </div>
            </div>
          </div>

          

        </div>
        
      </div>

      <div id="rentalPanel" class="customTab">

        <th:block th:each="item,iter: ${items}">
          <div class="containerItemLoan">
  <!--           <button th:text="${item.name}" class="btn btn-primary" type="button" data-bs-toggle="collapse"
            th:data-bs-target="'#collapseLoan'+${item.id}" aria-expanded="false" 
            th:aria-controls="'#collapseLoan'+${item.id}"></button> -->
            <div class="accordion-item">
            <h2 class="accordion-header">
            <button th:text="${item.name}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
            th:data-bs-target="'#collapseLoan'+${item.id}" aria-expanded="false"  th:aria-controls="'#collapseLoan'+${item.id}">
              Accordion Item #1
            </button>
            </h2>
            </div>
          
            
            <div class="collapse" th:id="'collapseLoan'+${item.id}">
              <div class="row rowTitle">
                <div class="col-5 text-center titleData">Datos de alquiler</div>
                <div class="col text-center titleData">Datos de usuario</div>
                <div class="col-2"></div>
              </div>
              <div class="">
                <th:block th:each="loan,iter: ${item.itemLoans}">
                  <div th:id="${loan.item.id}+':'+${loan.user.id}" class="loanContainer row">
                    <div class="col-5 loanData row">
                      
                      <div class="col">
                        <div class="text-center">Fecha</div>
                        
                        <div th:if="${loan.isLate}" th:text="${loan.getLoanStartStrES}+' - '+${loan.getLoanEndStrES}" class="text-center lateLoanText">10-04-2023 - 10-04-2023</div>
                        <div th:unless="${loan.isLate}" th:text="${loan.getLoanStartStrES}+' - '+${loan.getLoanEndStrES}" class="text-center">10-04-2023 - 10</div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">Cantidad</div>
                        <div class="text-center" th:text="${loan.quantity}">x</div>
                      </div>

                    </div>
                    <div class="col userLoanData row">
                      
                      <div class="col">
                        <div class="text-center" th:text="${loan.user.username}">Username</div>
                        <div class="text-center" th:text="${loan.user.email}">emaildeUsuario@mail.com</div>
                      </div>
                      <div class="col">
                        <div class="text-center" th:text="${loan.user.firstName} + ' ' + ${loan.user.lastName}">Nombre y apellidos</div>
                        <div class="text-center" th:text="${loan.user.phone}">658332350</div>
                      </div>
                      
                    </div>

                    <div class="col-2 btnEndLoanContainer">
                      <!-- id se loan= idItem:idUsuario -->
                      <button th:value="${loan.item.id}+':'+${loan.user.id}" class="btn makeEndLoanBtn customButton">Finalizar Alquiler</button>
                    </div>
                  </div>
                  <!-- <div class="loanContainer row">
                    <div class="col-5 loanData row">
                      <div class="col-3">
                        <div class="text-center dataName">Datos Alquiler</div>
                      </div>
                      <div class="col">
                        <div class="text-center">Fecha</div>
                        <div class="text-center">10-04-2023 - 10-04-2023</div>
                      </div>
                      <div class="col-3 lastColLoanData">
                        <div class="text-center">Cantidad</div>
                        <div class="text-center">2</div>
                      </div>

                    </div>
                    <div class="col userData row">
                      <div class="col-2 dataNameCol">
                        <div class="text-center dataName">Datos usuario</div>
                      </div>
                      <div class="col">
                        <div class="text-center">Username</div>
                        <div class="text-center">emaildeUsuario@mail.com</div>
                      </div>
                      <div class="col">
                        <div class="text-center">Nombre y apellidos</div>
                        <div class="text-center">658332350</div>
                      </div>
                      
                    </div>
                  </div> -->
                 <!--  <div th:text="${loan.user.username}"></div> -->
                </th:block>
              </div>
            </div>
          </div>
          
            
        </th:block>

      </div>
          
    </div>

    <!-- </div> -->

  


    <!-- ------ MODALES -------- -->
    <!-- Modal anadir empleado -->
    <div class="modal fade" id="addStaffModal" tabindex="-1" aria-labelledby="addStaffModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addStaffModalLabel">Añadir empleado</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addStaffForm" th:action="@{/}" onsubmit="return false;">
              <label for="username" style="display: block;">Username</label>
              <input type="text" id="username" required>

              <label for="email" style="display: block;" class="modalLabel">Email</label>
              <input type="email" id="email" required>

              <div class="row">
                  <div class="col">
                      <label for="firstName" style="display: block;" class="modalLabel">Nombre</label>
                      <input type="text" id="firstName">
                  </div>
                  <div class="col">
                      <label for="lastName" style="display: block;" class="modalLabel">Apellido</label>
                      <input type="text" id="lastName">
                  </div>
              </div>

              <div class="row">
                  <div class="col">
                      <label for="password1" style="display: block;" class="modalLabel">Contraseña</label>
                      <input type="password" id="password1" onchange="validatePassword()" required>
                  </div>
                  <div class="col">
                      <label for="password2" style="display: block;" class="modalLabel">Repite la contraseña</label>
                      <input type="password" id="password2" onkeyup="validatePassword()" required>
                  </div>
              </div>

              <div class="row">
                  <div class="col">
                      <label for="address" style="display: block;" class="modalLabel">Direccion</label>
                      <input type="input" id="address" required>
                  </div>
                  <div class="col">
                      <label for="phone" style="display: block;" class="modalLabel">Telefono</label>
                      <input type="tel" id="phone" required>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" id="closeModalAddStaff" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" id="addStaffButton" class="btn customButton">Añadir</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal modificar empleado -->
    <div class="modal fade" id="modifyStaffModal" tabindex="-1" aria-labelledby="modifyStaffModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modifyStaffModalLabel">Modificar empleado</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="modifyStaffForm" th:action="@{/}" onsubmit="return false;">
              <input type="hidden" id="idUser">
              <input type="hidden" id="oldUsername">

              <label for="usernameMod" style="display: block;">Username</label>
              <input type="text" id="usernameMod" required>

              <label for="emailMod" style="display: block;" class="modalLabel">Email</label>
              <input type="email" id="emailMod" required>

              <div class="row">
                  <div class="col">
                      <label for="firstNameMod" style="display: block;" class="modalLabel">Nombre</label>
                      <input type="text" id="firstNameMod">
                  </div>
                  <div class="col">
                      <label for="lastNameMod" style="display: block;" class="modalLabel">Apellido</label>
                      <input type="text" id="lastNameMod">
                  </div>
              </div>

              <div class="row">
                  <div class="col">
                      <label for="password1Mod" style="display: block;" class="modalLabel">Contraseña</label>
                      <input type="password" id="password1Mod" onchange="validatePassword2()">
                  </div>
                  <div class="col">
                      <label for="password2Mod" style="display: block;" class="modalLabel">Repite la contraseña</label>
                      <input type="password" id="password2Mod" onkeyup="validatePassword2()">
                  </div>
              </div>

              <div class="row">
                  <div class="col">
                      <label for="addressMod" style="display: block;" class="modalLabel">Direccion</label>
                      <input type="input" id="addressMod" required>
                  </div>
                  <div class="col">
                      <label for="phoneMod" style="display: block;" class="modalLabel">Telefono</label>
                      <input type="tel" id="phoneMod" required>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" id="closeModalModifyStaff" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" id="modifyStaffButton" class="btn customButton">Guardar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>


     <!-- Modal add item -->
     <div class="modal fade" id="modalAddItem" tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalAddItemLabel">Añadir Material</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form role="form" id="addItemForm"> 
                  <label for="itemNameField" class="form-label">Nombre del item</label>
                  <input type="text" class="form-control" name="itemName" id="itemNameField" value="" required> 

                  <label class="form-label" for="itemQuantityField">Cantidad del item</label>
                  <input type="number" id="itemQuantityField" name="itemQuantity"  class="form-control" required/>

                  <label for="itemDescField" class="form-label">Descripcion del item</label>
                  <textarea class="form-control" id="itemDescField" name="itemDesc" rows="4" cols="60" required></textarea>

                  <label class="form-label" for="itemMaxLoanField">Cantidad maxima que un usuario podrá alquilar a la vez</label>
                  <input type="number" id="itemMaxLoanField" name="itemQuantity"  class="form-control" required/>
                  
                  <label for="fileFieldImgItem" class="form-label">Imagen del plato</label>
                  <img id="newImgItem" alt="Imagen nuevo Plato" class="img-thumbnail mw-100 miClase">
                  <input type="file" id="fileFieldImgItem" accept="image/jpeg,image/png" required>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id ="buttonFormConfirmItem" class="btn customButton">Confirmar</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
     </div>


     <!-- Modal modify item -->
     <div class="modal fade" id="modalModifyItem" tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalModifyItemLabel">Modificar material</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form role="form" id="modifyItemForm">
                  <label for="itemNameFieldM" class="form-label">Nombre del item</label>
                  <input type="text" class="form-control" name="itemName" id="itemNameFieldM" value="" required> 


                  <label class="form-label" for="itemQuantityFieldM">Cantidad del item</label>
                  <input type="number" id="itemQuantityFieldM" name="itemQuantity"  class="form-control" required/>

                  <label for="itemDescFieldM" class="form-label">Descripcion del item</label>
                  <textarea class="form-control" id="itemDescFieldM" name="itemDesc" rows="4" cols="60" required></textarea>

                  <label class="form-label" for="itemMaxLoanFieldM">Cantidad maxima que un usuario podrá alquilar a la vez</label>
                  <input type="number" id="itemMaxLoanFieldM" name="itemQuantity"  class="form-control" required/>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id ="buttonFormConfirmItemM" class="btn customButton">Confirmar</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
     </div>


      <!-- Modal modify item Img -->
      <div class="modal fade" id="modalModifyItemImg" tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalModifyItemLabel">Modificar material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form role="form" id="modifyItemFormImg"> 
                   
                    <label for="fileFieldImgItem" class="form-label">Imagen del material</label>
                    <img id="newImgItemM" alt="Imagen del material" class="img-thumbnail mw-100 miClase">
                    <input type="file" id="fileFieldImgItemM" accept="image/jpeg,image/png" required>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" id ="buttonFormConfirmItemImgM" class="btn customButton">Confirmar</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
       </div>




     <!-- Modal add Lesson -->
     <div class="modal fade" id="modalAddLesson" tabindex="-1" aria-labelledby="modalAddLessonLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalAddLessonLabel">Añadir Clase</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form role="form" id="addLessonForm"> 
                  <label for="lessonNameField" class="form-label">Nombre de la clase</label>
                  <input type="text" class="form-control" name="LessonName" id="lessonNameField" value="" required> 

                  <label for="lessonDescField" class="form-label">Descripcion de la clase</label>
                  <textarea class="form-control" id="lessonDescField" name="lessonDesc" rows="4" cols="60" required></textarea>

                  <label class="form-label" for="lessonCapacity">Aforo de la clase</label>
                  <input type="number" id="lessonCapacity" name="lessonCapacity"  class="form-control" required/>
                  <label class="form-label">Sesiones</label>
                  <div class="row justify-content-center" id="sessionListContainer">
                    <!-- <div class="col-sm-4 addSessionContainer">
                      <span class="sesionDate">Lunes-10:30</span>
                      <span class="btn btnRemoveAddSession">❌</span>
                    </div>
                    <div class="col-sm-4 addSessionContainer">
                      <span class="sesionDate">Lunes-10:30</span>
                      <span class="btn btnRemoveAddSession">❌</span>
                    </div>
                    <div class="col-sm-4 addSessionContainer">
                      <span class="sesionDate">Lunes-10:30</span>
                      <span class="btn btnRemoveAddSession">❌</span>
                    </div>
                    <div class="col-sm-4 addSessionContainer">
                      <span class="sesionDate">Lunes-10:30</span>
                      <span class="btn btnRemoveAddSession">❌</span>
                    </div> -->
                  
                  </div>

                  <div class="row newSessionRow">
                    <div class="row">
                      <div class="col">Dia de la semana y hora</div>
                     
                    </div>
                    <div class="row rowInputsSession">
                   
                        <select  id="sessionDay" name="sessionDay" class="form-select col" aria-label="Default select example">
                          <option value="MONDAY" selected>Lunes</option>
                          <option value="TUESDAY">Martes</option>
                          <option value="WEDNESDAY">Miercoles</option>
                          <option value="THURSDAY">Jueves</option>
                          <option value="FRIDAY">Viernes</option>
                        </select>
                      
                     
               
                        <input class="form-control col" type="time" id="addSessionTime" name="addSessionTime">
                      
                     
                      <button type="button" class="btn btn-secondary col cancelAddSession">Cancelar</button>
                      <div class="btn customButton col addNewSession">Añadir</div>
                    </div>
                    

                    

                  </div>

                  <div class="w-100 text-center">
                    <button class="btn btnAddSession customButton">➕ Añadir sesion</button>
                  <!--   <div class="btn btn-primary openStaffModalButton btnAddSession" data-bs-toggle="modal" data-bs-target="#modalAddSession">
                      ➕ Añadir sesion
                    </div> -->
                  </div>
                

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id ="buttonFormConfirmLesson" class="btn customButton">Confirmar</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
     </div>



       <!-- Toast -->
       <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="toastEndLoan" class="toast hide"  data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">❗  Alquiler finalizado con exito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
          <!--   <button value="" id="btnUndoEndLoan" class="btn">Pulsa para deshacer la accion</button> -->
          </div>
        </div>
      </div>
    
    <!-- <script th:src="@{/js/calendar.js}" src="js/calendar.js"></script> -->
    <script th:src="@{/js/settings.js}" src="js/settings.js"></script>

    
    
</body>

<th:block th:replace="fragments/footer.html :: footer" />
<script th:src="@{/js/settingsItems.js}" src="js/settingsItems.js" ></script>
<script th:src="@{/js/settingsLoans.js}" src="js/settingsLoans.js" ></script>
<script th:src="@{/js/settingsLessons.js}" src="js/settingsLessons.js" ></script>

</html>