<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Sign up</title>

    <link rel="stylesheet" th:href="@{/css/registro.css}" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="centeredDiv">
                <h1>¡Crea tu cuenta!</h1>
                <form role="form" id="modificarPerfilForm" onsubmit="return false;"> <!-- onsubmit="false;"   truco para validacion de requiered no necesario ya -->
                
                    <label for="username" class="firstLabel">Username</label>
                    <input type="text" id="username" class="inputForm" required>
    
                    <label for="email" class="inputLabel">Email</label>
                    <input type="email" id="email" class="inputForm" required>
    
                    <div class="row">
                        <div class="col">
                            <label for="firstName" class="inputLabel">Nombre</label>
                            <input type="text" id="firstName" class="inputForm">
                        </div>
                        <div class="col">
                            <label for="lastName"  class="inputLabel">Apellido</label>
                            <input type="text" id="lastName" class="inputForm">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <label for="password1"  class="inputLabel">Contraseña</label>
                            <input type="password" id="password1" class="inputForm" onchange="validatePassword()" required>
                        </div>
                        <div class="col">
                            <label for="password2"  class="inputLabel">Repite la contraseña</label>
                            <input type="password" id="password2" class="inputForm" onkeyup="validatePassword()" required>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <label for="address"  class="inputLabel">Direccion</label>
                            <input type="input" id="address" class="inputForm" required>
                        </div>
                        <div class="col">
                            <label for="phone"  class="inputLabel">Telefono</label>
                            <input type="tel" id="phone" class="inputForm" required>
                        </div>
                    </div>
                    
                    <button type="button" id ="createButton" class="btn btn-dark">Crear cuenta</button>
                    
                </form>
            </div>
        </div>
    </main>

    <script th:src="@{/js/signup.js}" src="js/signup.js"></script>
</body>
<th:block th:replace="fragments/footer.html :: footer" />
</html>