<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Sign up</title>

    <link rel="stylesheet" th:href="@{/css/signup.css}" />
</head>

<body class="d-flex flex-column h-100 totalBody">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="centeredDiv text-center">
                <h1 id="createAccountTitle">¡Crea tu cuenta!</h1>
                <form role="form" id="signUpForm" onsubmit="return false;"> <!-- onsubmit="false;"   truco para validacion de requiered no necesario ya -->
                
                    <div class="row text-start">
                        <div class="col col col-md-4 offset-2">
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Nombre de usuario" id='username' required />
                                <label for="username" class="form__label">Nombre de usuario</label>
                            </div>
            
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Email" id='email' required />
                                <label for="email" class="form__label">Email</label>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="row text-start">
                        <div class="col col-md-4 offset-2">
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Nombre" id='firstName' required />
                                <label for="firstName" class="form__label">Nombre</label>
                            </div>
                        </div>
                        <div class="col col-md-4 offset-1">
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Apellido" id='lastName' required />
                                <label for="lastName" class="form__label">Apellido</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="row text-start">
                        <div class="col col col-md-4 offset-2">
                            <div class="form__group field">
                                <input type="password" class="form-control form__field" placeholder="Contraseña" id='password1'  onchange="validatePassword()" required />
                                <label for="password1" class="form__label">Contraseña</label>
                            </div>
                        </div>
                        <div class="col col col-md-4 offset-1">
                            <div class="form__group field">
                                <input type="password" class="form-control form__field" placeholder="Repite la contraseña" id='password2'  onchange="validatePassword()" required />
                                <label for="password2" class="form__label">Repite la contraseña</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="row text-start">
                        <div class="col col col-md-4 offset-2">
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Dirección" id='address' required />
                                <label for="address" class="form__label">Dirección</label>
                            </div>
                        </div>
                        <div class="col col col-md-4 offset-1">
                            <div class="form__group field">
                                <input type="input" class="form-control form__field" placeholder="Teléfono" id='phone' required />
                                <label for="phone" class="form__label">Teléfono</label>
                            </div>
                        </div>
                    </div>
                    
                    <button type="button" id ="createButton" class="btn btn-dark">Crear cuenta</button>
                    
                </form>
            </div>
        </div>
    </main>

    <script th:src="@{/js/signup.js}" src="js/signup.js"></script>
</body>
<th:block th:replace="fragments/footer.html :: footer" />
</html>