<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <!-- <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" type="text/css" /> -->
    <link rel="stylesheet" th:href="@{/css/subsCards.css}" />
    <title>Suscripciones</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>
  <!-- <h1 th:text="${session.u.clientType}"></h1> -->
  <input type="hidden" th:value="${session.u.clientType}" id="sub">
  
  <!-- card style: https://codepen.io/devjamal/pen/WMEVBL -->
  <!-- ribbon style: https://multiwebpress.com/pricing-card-using-html-css/ -->
  <div class="mainContainer">
      <div class="container-fluid">
        <div class="container">
          <div class="row cardsRow">
            <div class="col-md-4 offset-md-2 sub1">
              <div class="card text-center">
                <!-- <div th:if="${session.u.clientType.toString().equals('ONLINE')}" class="ribbon" id="onlineRibbon"><span>A c t u a l</span></div> -->
                <div class="ribbon" id="onlineRibbon"><span>A c t u a l</span></div>
                <div class="title">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  <h2>Online</h2>
                </div>
                <div class="price">
                  <!-- <h4 th:text="${onlinePrice}">25</h4><sup>€</sup> -->
                  <h4 th:text="${onlinePrice} + '€'"></h4>
                </div>
                <div class="option">
                  <ul>
                    <th:block th:each="phrase,iter: ${onlinePhrases}">
                      <li  th:text=${phrase}> <i class="fa fa-check" aria-hidden="true"></i > Acceso a todos los cursos</li>
                    </th:block>
                    <th:block th:if="${onlineArraySize &lt onsiteArraySize}">
                      <th:block th:each="i: ${#numbers.sequence(0,sizesDif-1)}">
                        <li class="transparentText"> <i class="fa fa-times" aria-hidden="true"></i>  - </li>
                      </th:block>
                    </th:block>
                  </ul>
                </div>
                <a th:href="@{/paymentPage?subType=online}" onclick="suscribe(event)" data-sub="online">Suscribirse</a>
              </div>
            </div>
            <!-- END Col one -->

            <div class="col-md-4 sub2">
              <div class="card text-center">
                <!-- <div th:if="${session.u.clientType.toString().equals('ONSITE')}" class="ribbon" id="onsiteRibbon"><span>A c t u a l</span></div> -->
                <div class="ribbon" id="onsiteRibbon"><span>A c t u a l</span></div>
                <div class="title">
                  <i class="fa fa-plane" aria-hidden="true"></i>
                  <h2>Presencial</h2>
                </div>
                <div class="price">
                  <!-- <h4 th:text="${onsitePrice}">50<sup>€</sup></h4> -->
                  <h4 th:text="${onsitePrice} + '€'"></h4>
                </div>
                <div class="option">
                  <ul>
                    <th:block th:each="phrase,iter: ${onsitePhrases}">
                      <li  th:text=${phrase}> <i class="fa fa-check" aria-hidden="true"></i > Acceso a todos los cursos</li>
                    </th:block>
                    <th:block th:unless="${onlineArraySize &lt; onsiteArraySize} ">
                      <th:block th:if="${sizesDiv &gt; 0}"> <!-- necessary cause when both arrays have size 0, the code below will execute -->
                        <th:block th:each="i: ${#numbers.sequence(0,sizesDif-1)}">
                          <li class="transparentText" th:text="${i}"> <i class="fa fa-times" aria-hidden="true"></i>  - </li>
                        </th:block>
                      </th:block>
                    </th:block>
                  </ul>
                </div>
                <a th:href="@{/paymentPage?subType=onsite}" onclick="suscribe(event)" data-sub="onsite">Suscribirse</a>
              </div>
            </div>
            <!-- END Col two -->
            
          </div>
        </div>
      </div>
    </div>

  <th:block th:replace="fragments/footer.html :: footer"></th:block>

  <script th:src="@{/js/subscriptions.js}" src="js/subscriptions.js"></script>
  
</body>


</html>