<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title >Items</title>
    <link rel="stylesheet" href="../css/generalCards.css" />
     <link rel="stylesheet" href="../css/userItems.css" />
      <!-- ../porque viene desde la ruta items/lo_que_sea. Se debe quitar ese items-->
    
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>


        <!-- <div class="col bodyCol"> -->
           <div class="mainContainer">

            <th:block th:if="${#lists.size(loans) == 0}">
                <h2 class="text-center">Actualmente no tienes ningun alquiler activo</h2>
                <h5 class="text-center mt-3">Puedes alquilar nuevo material desde la página de alquiler</h5>
                <div class="text-center mt-5"><a th:href="@{/items/listToLoan}"><button class="btn customButton">Ver material</button></a></div>
                
            </th:block>
        
                <div class="row justify-content-center">
                    <th:block th:each="loan,iter: ${loans}">
                        <div class="col-5 myColW">
                            <div class="myContainer">
                                <div class="card2">
                                    <img  th:src="@{/img/items/{id}.jpg(id=${loan.item.id})}" src="/img/drawing.jpg" />
                                    <div class="myh100 "> <!-- align-items-center justify-content-center -->
                                        <div class="titulo justify-content-center">
                                            <h2 class="text-center" th:text="${loan.item.name}">Pesas 5kg</h2>
                                        </div>
                                        <div class="texto">
                                            <div>
                                                <!--  <h3>Type: Residential rental</h3> --> <!-- Subtitulo si necesario -->
                                                <p th:text="'Inicio del alquiler: '+${loan.getLoanStartStrESHourMin}"></p>
                                                <p th:text="'Fin del alquiler: '+${loan.getLoanEndStrESHourMin}"></p>
                                                <p th:text="'Cantidad alquilada: '+${loan.quantity}"></p>
                                            </div>
                                        </div>

                                        <th:block th:if="${loan.isLate}">
                                            <div class="justify-content-center">
                                                <p class="warningMsg text-center">Fecha de devolucion retrasada. Debes devolverlo cuanto antes</p> 
                                            </div>
                                        </th:block>
            
                                        <th:block th:unless="${loan.isLate}">

                                            <th:block th:if="${loan.isCancelable}">
                                                <div class="boton justify-content-center">
                                                    <div class="ampliarContainer">
                                                        
                                                            <button th:value="${loan.id}" class="customButton btnCancelLoan">Cancelar Alquiler</button>
                                                        
                                                        <span tabindex="0" class="infoIcon" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Puedes cancelar el alquiler antes de que llegue la fecha de su comienzo">
                                                            <p>i</p>
                                                        </span>

                                                    </div>

                                                    
                                                </div>

                                            </th:block>
                                            <th:block th:unless="${loan.isCancelable}">

                                            <th:block th:unless="${loan.isRenovable}">
                                                <div class="boton justify-content-center">
                                                    <div class="ampliarContainer">
                                                        <a  th:href="@{/items/loanItem?itemId=}+${loan.item.id}">
                                                            <button disabled class="customButton">Ampliar Alquiler</button>
                                                        </a>
                                                        <span tabindex="0" class="infoIcon" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="48 Horas antes del fin de la reserva podras ampliarla desde aqui">
                                                            <p>i</p>
                                                        </span>

                                                    </div>
                                                    
                                                    <!-- <p>48 Horas antes del fin de la reserva podras ampliarla desde aqui</p> -->
                                                    
                                                </div>
                                            </th:block>
                                        

                                            <th:block th:if="${loan.isRenovable}">

                                                <div class="boton justify-content-center">
                                                    <div class="ampliarContainer">
                                                        <a  th:href="@{/items/loanItem?itemId=}+${loan.item.id}">
                                                            <button class="customButton">Ampliar Alquiler</button>
                                                        </a>
                                                        <span tabindex="0" class="infoIcon" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Si hay disponibilidad podrás ampliar el alquiler una semana más">
                                                            <p>i</p>
                                                        </span>
                                                    </div>
                                                </div>
                                                
                                            </th:block>


                                            </th:block>

                                            


                                        </th:block>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </th:block>
        
                    
        
                </div>
            </div>
           
    

    <!-- Pie de pagina -->


    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/userItems.js}" src="js/UserItems.js"></script>

    

    
</body>
</html>