<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Perfil</title>
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">

        <input type="hidden" id="userId" th:value="${user.id}">
        <input type="hidden" id="oldUsername" th:value="${user.username}">

        <div id="bannerDiv">
            <!-- Icons made by https://www.flaticon.com/authors/freepik Freepik from www.flaticon.com -->
            <div id="profileTitleDiv">
                <span id="profileTitle">Perfil</span>
            </div>

            <div id="userPictureDiv">
                <img id="userPicture" th:src="@{/img/userImgs/{id}.jpg(id=${session.u.id})}" onerror="this.onerror=null; this.src='/img/userIcon256.png';">
                <button class="btn btn-primary material-symbols-rounded" id="changeUserPicture" data-bs-toggle="modal" data-bs-target="#modalUserImg">
                    edit
                </button>
                <!-- <button th:value="${item.id}" data-bs-toggle="modal" data-bs-target="#modalModifyItemImg" class="editImgButton">✏️</button> -->
            </div>
            
            
        </div>
        
        <div id="backgroundDiv">
            <div id="centeredDiv">
                <div class="row profilePanel" id="userInfoRow">
                    <div class="col text-center">
                        <h2>Tus datos</h2>
                        <form role="form" id="modifyProfileForm" onsubmit="return false;">
                            <div class="row d-flex infoRow">
                                <div class="col col-md-5 offset-1">
                                    <div class="form__group field">
                                        <input type="input" class="form__field" placeholder="Name"id='username' th:value="${user.username}" required />
                                        <label for="username" class="form__label">Nombre de usuario</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex infoRow">
                                <div class="col col-md-5 offset-1">
                                    <div class="form__group field">
                                        <input type="email" class="form__field" placeholder="Name" id='email' th:value="${user.email}" required />
                                        <label for="email" class="form__label">Email</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row infoRow">
                                <div class="col col-md-5 offset-1">
                                    
                                    <div class="form__group field">
                                        <input type="input" class="form__field" placeholder="Name" id='firstName' th:value="${user.firstName}" required />
                                        <label for="firstName" class="form__label">Nombre</label>
                                    </div>
                                </div>
            
                                <div class="col  col-md-5">
                                    <div class="form__group field">
                                        <input type="input" class="form__field" placeholder="Last name" id='lastName' th:value="${user.lastName}" required />
                                        <label for="lastName" class="form__label">Apellido</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row infoRow">
                                <div class="col  col-md-5  offset-1">
                                    <div class="form__group field">
                                        <input type="input" class="form__field" placeholder="Last name" id='phone' th:value="${user.phone}" required />
                                        <label for="phone" class="form__label">Móvil</label>
                                    </div>
                                </div>
    
                                <div class="col col-md-5">
                                    
                                    <div class="form__group field">
                                        <input type="input" class="form__field" placeholder="Name"id='address' th:value="${user.address}" required />
                                        <label for="address" class="form__label">Dirección</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row infoRow">
                                <div class="col  col-md-5  offset-1">
                                    <div class="form__group field">
                                        <input type="password" class="form__field" placeholder="Contraseña" id='password1' onkeyup="validatePassword()"/>
                                        <label for="password1" class="form__label">Contraseña</label>
                                    </div>
                                </div>
    
                                <div class="col col-md-5">
                                    
                                    <div class="form__group field">
                                        <input type="password" class="form__field" placeholder="Contraseña" id='password2' onkeyup="validatePassword()"/>
                                        <label for="password2" class="form__label">Repite la contraseña</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row infoRow">
                                <div class="col col-md-2 offset-8">
                                    <button class="btn btn-primary" id="saveUserInfoButton" onclick="applyChanges()">Confirmar</button>
                                </div>
                            </div>
                        </form>
                        

                    </div>

                </div>

                <div class="row profilePanel" id="personalDescriptionRow">
                    <div class="col text-center">
                        <h2>Cuéntanos sobre ti!</h2>
                        <span class="secondaryText">Dinos qué deportes, rutinas, o hábitos realizas, así como lesiones o cosas que creas que debamos saber. Así nuestros instructores serán capaces 
                            de responderte mejor!</span>
                        <div id="userDescriptionDiv">
                            <textarea id="userDescription" th:text="${session.u.description}" ></textarea> <!-- onchange="updateDescription()" -->
                        </div>
                    </div>
                    <div class="row infoRow">
                        <div class="col col-md-2 offset-8">
                            <button class="btn btn-primary" id="saveUserDescriptionButton" onclick="updateDescription()">Confirmar</button>
                        </div>
                    </div>
                </div>

                <div class="row profilePanel" id="personalDescriptionRow">
                    <div class="col text-center">
                        <h2 id="statsTitle">Algunas estadísticas de tus cursos</h2>
                        <th:block th:if="${#lists.isEmpty(coursesList)}">
                            <h5 id="noCoursesMsg">Aun no has completado ningún curso. Te animamos a empezar!</h5>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(coursesList)}">
                            <div class="d-flex justify-content-center">
                                <div class="text-start">
                                    <th:block th:each="courseLine,iter: ${coursesList}">
                                        <div class="courseStatLine">
                                            <span class="courseName" th:text="${courseLine.course.name} + ' - '"> Name - </span>
                                            <span th:text="'lo has completado ' + ${courseLine.timesDone} + ' veces'"></span>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                        
                    </div>
                </div>

            </div>  
        </div>
    </main>


    <!-- Modal modify user Img -->
    <div class="modal fade" id="modalUserImg" tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalUserLabel">Cambiar foto de perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form role="form" id="userFormImg"> 
                   
                    <label for="newUserImg" class="form-label">Nueva foto</label>
                    <img id="newUserImg" alt="Nueva imagen de perfil" class="img-thumbnail mw-100 miClase">
                    <input type="file" class="form-control" id="fileFieldUserImg" accept="image/jpeg,image/png" onchange="changeImgPreview()" required>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" id ="buttonFormNewUserImg" class="btn btn-primary" onclick="modifyUserImg()">Confirmar</button>
                    </div>
                  </form>
               </div>
            </div>
        </div>
    </div>


    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/user.js}" src="js/user.js"></script>
    <script th:src="@{/js/main.js}" src="js/main.js"></script>
</body>

</html>